#hero-card {
  text-align: center;
  line-height: 20px;
}

#welcome {
  margin-top: 2rem;
  padding-top: 2rem;
  border: 4px solid #4e8234;
  border-radius: 20px;
  line-height: 22px;
}

#hero-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 2px 2px;
  background-color: var(--header-green);
  border-radius: 0 0 15px 15px;
}
