#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1100px;
  margin: 3rem;
  padding: 2rem 3rem;
  border: 1px solid var(--border-green);
  border-radius: 15px;
  background-color: var(--card-green);
}
