#footer {
  border-top: 1px solid #fabd23;
  background-color: var(--banner-beige);
}

#footer-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

#footer hr {
  margin-top: 5rem;
}
