* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  /* colors */
  --blue: #e5f1ec;
  --border-green: #4e8234;
  --card-green: #e0f2b6;
  --header-green: #c4e673;
  --banner-beige: rgb(245, 245, 220);
}

#App {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--blue);
}

#content-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

Link:hover {
  cursor: pointer;
  text-decoration: none;
}
